@model List<Nota>

@{
    ViewData["Title"] = "Nota Page";
    var contador = 1;
}
<div class="text-center">
    <h1 class="EscR">Notas</h1>

    <a type="button" class="botaoCriar asp-controller="Nota" asp-action="Create">Criar Nota</a>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Aluno</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Nota</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Nota nota in Model)
                {
                    <tr>
                        <th scope="row">@contador</th>
                        <td>@nota.Matricula.Aluno.Nome</td>
                        <td>@nota.Matricula.Disciplina.Nome</td>
                        <td>@nota.Valor</td>
                        <td>
                            <a class="botaoEditar" asp-controller="Nota" asp-action="Edit" asp-route-id="@nota.NotaID">Editar</a>
                            <a class="botaoRemover" asp-controller="Nota" asp-action="Delete" asp-route-id="@nota.NotaID">Remover</a>
                        </td>
                    </tr>
                    contador++;
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Nenhuma nota cadastrada.</td>
                </tr>
            }
        </tbody>
    </table>
</div>