



@model List<Matricula>

@{
    ViewData["Title"] = "Matricula Page";
    var contador = 1;
}

<div class="text-center">
    <h1 class="EscR">Matriculas</h1>
     <div class="Ferris">
     <img src="@Url.Content("~/img/rustacean-orig-noshadow-56857821.png")" alt="Rustacean Logo" width="240" class="FerrisComum" />
            <p class="Introp">É importante se matricular  uma matéria correta para evoluir cada vez mais! </p>
</div>
</div>
    <table class="table table-dark">
    <thead>
        <a type="button" class="botaoCriar" asp-controller="Matricula" asp-action="Create">Criar Matricula</a>
        
        <tr>
            
            <th scope="col">#</th>
            <th scope="col">Nome do Aluno</th>
            <th scope="col">Nome da Disciplina</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    @if (Model != null && Model.Any())
    {
        foreach (Matricula matricula in Model)
        {
        <tbody>
                <tr>
                    <th scope="row">@contador</th>
                    <td>@matricula.Aluno.Nome</td>
                    <td>@matricula.Disciplina.Nome</td>
                    <td><a type="button" class="botaoRemover" asp-controller="Matricula" asp-action="Delete" asp-route-id="@matricula.MatriculaID" >Remover
                            Matricula</a>
                    </td>
                    <td><a type="button" class="botaoEditar" asp-controller="Matricula" asp-action="Edit" asp-route-id="@matricula.MatriculaID">Editar
                            Matricula</a>
                    </td>
                </tr>
            </tbody>
            contador++;
        }
    }
            </table>


</div>
